<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello World!</title>

    <link rel="stylesheet" href="static/styles/main.css">
  </head>
  <body>
    <div class="page container-fluid">

      <div class="row middle-sm">
        <div class="col-xs-12 col-sm-4">
          <h1 class="page-title">Hello World!</h1>
        </div>
        <div class="col-xs-12 col-sm">
          <a href="https://github.com/michaelschwobe/static-site-gulp-webpack-boilerplate">Github/Documentation</a>
        </div>
      </div><!-- /row -->

    </div><!-- /page -->

    <script src="static/scripts/main.js"></script>
  </body>
</html>
